/* line 1, ../scss/theme-localization.scss */
#icl_theme_localization input {
  font-size: 80%;
}

/* line 5, ../scss/theme-localization.scss */
#icl_tl_scan_stats {
  display: none;
  font-size: 10px;
}

/* line 10, ../scss/theme-localization.scss */
#icl_tt_type_extra {
  margin-left: 20px;
  font-size: 90%;
  vertical-align: bottom;
}
